@using Fluxor.Blazor.Web.Components
@using BlazorStudio.ClassLib.Store.PlainTextEditorCase

@inherits FluxorComponent

@if (PlainTextEditorSelector.Value is null)
{
    <div>PlainTextEditorSelector.Value is null</div>
}
else
{
    // Ensure reference to PlainTextEditorSelector does
    // not change while looping over rows
    // by making a local reference to it.
    var currentPlainTextEditor = PlainTextEditorSelector.Value;

    var localMostRecentMessage = currentPlainTextEditor.VirtualizeCoordinateSystemMessage;
    var request = localMostRecentMessage.VirtualizeCoordinateSystemRequest;
    var result = localMostRecentMessage.VirtualizeCoordinateSystemResult;

    <div class="pte_plain-text-editor-wrapping">
        @*<div>
            Font Size: @(PlainTextEditorSelector.Value.RichTextEditorOptions.FontSizeInPixels)px
        </div>
        <div>
            Use the '<em>F1</em>' key to scroll the caret row into view if it is offscreen.
        </div>
        *@
        <div class="bstudio_debug-info">
            @if (localMostRecentMessage is not null)
            {
                var itemsEnumerated = result?.ItemsUntyped.ToArray();
                
                <div>
                    @NullSafeToString(nameof(currentPlainTextEditor.FileCoordinateGrid.RowCount), currentPlainTextEditor.FileCoordinateGrid?.RowCount)
                </div>
                <div>
                    @NullSafeToString(nameof(currentPlainTextEditor.FileCoordinateGrid.CharacterLengthOfLongestRow), currentPlainTextEditor.FileCoordinateGrid?.CharacterLengthOfLongestRow)
                </div>
                <div>
                    @NullSafeToString(nameof(itemsEnumerated.Length), itemsEnumerated?.Length)
                </div>

                <hr/>
                
                <div>
                    @NullSafeToString(nameof(request.ScrollLeft), request?.ScrollLeft)
                </div>
                <div>
                    @NullSafeToString(nameof(request.ScrollTop), request?.ScrollTop)
                </div>
                <div>
                    @NullSafeToString(nameof(request.ScrollWidth), request?.ScrollWidth)
                </div>
                <div>
                    @NullSafeToString(nameof(request.ScrollHeight), request?.ScrollHeight)
                </div>

                <hr/>

                <div>
                    @NullSafeToString(nameof(request.ViewportWidth), request?.ViewportWidth)
                </div>
                <div>
                    @NullSafeToString(nameof(request.ViewportHeight), request?.ViewportHeight)
                </div>
                <div>
                    @NullSafeToString(nameof(result.ActualWidthOfResult), result?.ActualWidthOfResult)
                </div>
                <div>
                    @NullSafeToString(nameof(result.ActualHeightOfResult), result?.ActualHeightOfResult)
                </div>
            }
            else
            {
                <div>virtualization message was null</div>
            }
        </div>

        <div id="@PlainTextEditorDisplayId"
             class="pte_plain-text-editor-display @IsFocusedCssClass"
             style="@GetStyleCss()"
             @ref="_plainTextEditor"
             @onclick="FocusPlainTextEditorOnClick"
             @onkeydown:preventDefault="true"
             @onkeydown="OnKeyDown"
             @onfocusin="OnFocusIn"
             @onfocusout="OnFocusOut"
             tabindex="-1">

            @{
                var mostDigitsInARowNumber = currentPlainTextEditor.FileCoordinateGrid.RowCount.ToString().Length;

                        <CascadingValue Value="currentPlainTextEditor.PlainTextEditorKey">
                            <CascadingValue Value="_isFocused">
                                <CascadingValue Name="CurrentRowIndex" Value="currentPlainTextEditor.CurrentRowIndex">
                                    <CascadingValue Name="RowIndexOffset" Value="currentPlainTextEditor.RowIndexOffset">
                                        <CascadingValue Name="ActiveRowId" Value="ActiveRowId">
                                            <BlazorStudio.RazorLib.VirtualizeComponents.VirtualizeCoordinateSystem @ref="_virtualizeCoordinateSystem"
                                                                                                           T="(int Index, IPlainTextEditorRow PlainTextEditorRow)"
                                                                                                           DimensionsOfCoordinateSystemViewport="_dimensionsOfCoordinateSystemViewport"
                                                                                                           RequestCallbackAction="OnRequestCallbackAction"
                                                                                                           PaddingInPixels="250"
                                                                                                           OnAfterFirstRenderCallbackFunc="OnAfterFirstRenderCallbackFunc">
                                                <ItemRenderFragment Context="rowTuple">
                                                    <CascadingValue Name="RowIndex" Value="rowTuple.Index">
                                                        <PlainTextEditorRowDisplay @key="rowTuple.PlainTextEditorRow.Key"
                                                                           PlainTextEditorRow="rowTuple.PlainTextEditorRow"
                                                                           MostDigitsInARowNumber="mostDigitsInARowNumber"/>
                                                    </CascadingValue>
                                                </ItemRenderFragment>

                                                <MarkerRenderFragment>
                                                    <span id="@ActiveRowPositionMarkerId"
                                                          class="pte_visually-hidden pte_unselectable pte_active-row-position-marker"
                                                          style="position: absolute; @InputFocusTrapTopStyleCss">
                                                    </span>
                                                </MarkerRenderFragment>
                                            </BlazorStudio.RazorLib.VirtualizeComponents.VirtualizeCoordinateSystem>
                                        </CascadingValue>
                                    </CascadingValue>
                                </CascadingValue>
                            </CascadingValue>
                        </CascadingValue>
            }
        </div>
    </div>
}