@using Fluxor.Blazor.Web.Components
@using BlazorStudio.ClassLib.Store.PlainTextEditorCase
@using System.Diagnostics.CodeAnalysis

@inherits FluxorComponent

@if (PlainTextEditorSelector.Value is null)
{
    <div>PlainTextEditorSelector.Value is null</div>
}
else
{
    // Ensure reference to PlainTextEditorSelector does
    // not change while looping over rows
    // by making a local reference to it.
    var currentPlainTextEditor = PlainTextEditorSelector.Value;

    <div class="pte_plain-text-editor-wrapping">
        
        <PlainTextEditorHeader PlainTextEditor="currentPlainTextEditor" />

        <div id="@PlainTextEditorDisplayId"
             class="pte_plain-text-editor-display @IsFocusedCssClass"
             style="@GetStyleCss()"
             @ref="_plainTextEditor"
             @onclick="FocusPlainTextEditorOnClick"
             @onkeydown:preventDefault="true"
             @onkeydown="OnKeyDown"
             @onfocusin="OnFocusIn"
             @onfocusout="OnFocusOut"
             tabindex="-1">

            @{
                var mostDigitsInARowNumber = currentPlainTextEditor.FileHandle.VirtualRowCount.ToString().Length;

                <CascadingValue Value="currentPlainTextEditor.PlainTextEditorKey">
                    <CascadingValue Value="_isFocused">
                        <CascadingValue Name="CurrentRowIndex" Value="currentPlainTextEditor.CurrentRowIndex">
                            <CascadingValue Name="RowIndexOffset" Value="currentPlainTextEditor.RowIndexOffset">
                                <CascadingValue Name="ActiveRowId" Value="ActiveRowId">
                                    <BlazorStudio.RazorLib.VirtualizeComponents.VirtualizeCoordinateSystem @ref="_virtualizeCoordinateSystem"
                                                                                                           T="(int Index, IPlainTextEditorRow PlainTextEditorRow)"
                                                                                                           VirtualizeCoordinateSystemMessage="currentPlainTextEditor.VirtualizeCoordinateSystemMessage"
                                                                                                           DimensionsOfCoordinateSystemViewport="_dimensionsOfCoordinateSystemViewport"
                                                                                                           RequestCallbackAction="OnRequestCallbackAction"
                                                                                                           PaddingInPixels="250"
                                                                                                           OnAfterFirstRenderCallbackFunc="OnAfterFirstRenderCallbackFunc">
                                        <ItemRenderFragment Context="rowTuple">
                                            <CascadingValue Name="RowIndex" Value="rowTuple.Index">
                                                <PlainTextEditorRowDisplay @key="rowTuple.PlainTextEditorRow.Key"
                                                                           PlainTextEditorRow="rowTuple.PlainTextEditorRow"
                                                                           MostDigitsInARowNumber="mostDigitsInARowNumber"/>
                                            </CascadingValue>
                                        </ItemRenderFragment>

                                        <MarkerRenderFragment>
                                            <span id="@ActiveRowPositionMarkerId"
                                                  class="pte_visually-hidden pte_unselectable pte_active-row-position-marker"
                                                  style="position: absolute; @InputFocusTrapTopStyleCss">
                                            </span>
                                        </MarkerRenderFragment>
                                    </BlazorStudio.RazorLib.VirtualizeComponents.VirtualizeCoordinateSystem>
                                </CascadingValue>
                            </CascadingValue>
                        </CascadingValue>
                    </CascadingValue>
                </CascadingValue>
            }

            <PlainTextEditorFooter PlainTextEditor="currentPlainTextEditor"/>
        </div>
    </div>
}