
<div class="bstudio_select-c-sharp-project-template">
    <div style="height: 100%; margin-left: 10px; margin-right: 30px;">
        <TreeViewWrapDisplay ShouldDispose="false"
                             TreeViewWrapKey="_newCSharpProjectTreeViewKey"
                             RootItems="GetRootThemes()"
                             GetChildrenFunc="GetChildren"
                             OnEnterKeyDown="TreeViewOnEnterKeyDown"
                             OnSpaceKeyDown="TreeViewOnSpaceKeyDown"
                             OnDoubleClick="TreeViewOnDoubleClick"
                             IsExpandable="item => item.IsExpandable"
                             StyleString="height: 100%;"
                             BodyCssClassAttribute="bstudio_select-c-sharp-project-template-body">
            
            <HeaderRenderFragment Context="activeItems">
                <div class="bstudio_select-c-sharp-project-template-header">
                    @foreach (var activeItem in activeItems)
                    {
                        <text>@activeItem.CSharpTemplate.TemplateName&nbsp;(@activeItem.CSharpTemplate.ShortName)</text>
                    }
                </div>
            </HeaderRenderFragment>

            <ItemRenderFragment Context="renderItem">
                @if (renderItem.StringIdentifier is not null)
                {
                    <em>@renderItem.StringIdentifier:&nbsp;</em>
                }

                @if (renderItem.OnClick is not null)
                {
                    <button class="btn btn-primary" @onclick="renderItem.OnClick">
                        @renderItem.TitleFunc()
                    </button>
                }
                else
                {
                    @renderItem.TitleFunc()
                }
            </ItemRenderFragment>
        </TreeViewWrapDisplay>
    </div>
</div>
