@using BlazorStudio.ClassLib.TextEditor.IndexWrappers
@using System.Text
@using BlazorStudio.ClassLib.Keyboard
@using BlazorStudio.ClassLib.TextEditor.Enums
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using BlazorStudio.ClassLib.CustomEvents
@using BlazorStudio.ClassLib.Html

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div>
    @{
        var localTextEditor = TextEditorStatesSelection.Value;

        if (localTextEditor is not null)
        {
            <span>(pos:&nbsp;@localTextEditor.GetCursorPosition(new (_cursor)) -> '@localTextEditor.GetCharacterAtCursor(new (_cursor)).EscapeHtml()'</span>
            
            <br/>
            
            <div>lineEndingPositions:</div>

            <div style="margin-left: 12px; padding-left: 5px; border-left: 1px solid var(--bstudio_primary-border-color)">
                @foreach (var lineEndingPosition in localTextEditor.LineEndingPositions)
                {
                    <span><em>@lineEndingPosition</em>,&nbsp;</span>
                }
            </div>
            
            <div>tabEndingPositions:</div>

            <div style="margin-left: 12px; padding-left: 5px; border-left: 1px solid var(--bstudio_primary-border-color)">
                @foreach (var tabKeyPosition in localTextEditor.TabKeyPositions)
                {
                    <span><em>@tabKeyPosition</em>,&nbsp;</span>
                }
            </div>
        }
    }
    <br/>

    (row:&nbsp;@_cursor.IndexCoordinates.RowIndex.Value, col:&nbsp;@_cursor.IndexCoordinates.ColumnIndex.Value)

    <br/>

    PrefCol:&nbsp;@_cursor.PreferredColumnIndex.Value ; cursor:&nbsp;@_cursor.TextCursorKind
</div>

<div style="height: 100%; font-size: @(GetFontSize);">
    <ShouldRenderBoundary ShouldRenderFunc="ShouldRenderFunc">
        <TextEditorDebugInfo TextEditor="TextEditorStatesSelection.Value"
                             TextPartition="_textPartition"/>

        <button @onclick="ApplyRoslynSyntaxHighlightingAsyncOnClick"
                class="btn btn-primary">
            Apply Roslyn Syntax Highlighting
        </button>

        <div class="pte_plain-text-editor-wrapping">
            <div class="pte_plain-text-editor-display pte_unselectable"
                 id="@GetTextEditorElementId"
                 @onkeydown="HandleOnKeyDown"
                 @onkeydown:preventDefault="true"
                 @oncustomclick="HandleOnCustomClick">

                <div id="@GetMeasureFontSizeElementId" 
                     class="bstudio_measure-font-size">
                    @for (int i = 0; i < _fontSizeMeasurementMultiplier; i++)
                    {
                        <text>@_fontSizeMeasurementTestData</text>
                    }
                </div>

                @if (_textEditorFontSize is not null) 
                {
                    var localTextEditorState = TextEditorStatesSelection.Value;
            
                    <Virtualize ItemsProvider="LoadTextCharacterSpans"
                                Context="textSpan"
                                @ref="_virtualize">

                        <div style="white-space: nowrap; height: @(_textEditorFontSize.RowHeight)px;">
                            @if (textSpan.TextCharacters.Any())
                            {
                                var spanTextBuilder = new StringBuilder();
                                var currentDecorationByte = textSpan.TextCharacters
                                    .First().DecorationByte;

                                foreach (var textCharacter in textSpan.TextCharacters)
                                {
                                    if (currentDecorationByte == textCharacter.DecorationByte)
                                    {
                                        switch (textCharacter.Value)
                                        {
                                            case '\t':
                                                spanTextBuilder.Append("&nbsp;&nbsp;&nbsp;&nbsp;");
                                                // spanTextBuilder.Append("~~~~");
                                                break;
                                            case ' ':
                                                spanTextBuilder.Append("&nbsp;");
                                                // spanTextBuilder.Append("`");
                                                break;
                                            case '\r':
                                                // spanTextBuilder.Append("R");
                                                break;
                                            case '\n':
                                                // spanTextBuilder.Append("N");
                                                break;
                                            case '<':
                                                spanTextBuilder.Append("&lt;");
                                                break;
                                            case '>':
                                                spanTextBuilder.Append("&gt;");
                                                break;                                        
                                            case '"':
                                                spanTextBuilder.Append("&quot;");
                                                break;
                                            case '\'':
                                                spanTextBuilder.Append("&#39;");
                                                break;
                                            case '&':
                                                spanTextBuilder.Append("&amp;");
                                                break;
                                            default:
                                                spanTextBuilder.Append(textCharacter.Value);
                                                break;
                                        }
                                    }
                                    else
                                    {
                                        <span class="@DecorationKindHelper.ToDecorationKindCssStyleString(currentDecorationByte)">
                                            @((MarkupString)spanTextBuilder.ToString())
                                        </span>

                                        spanTextBuilder.Clear();

                                        currentDecorationByte = textCharacter.DecorationByte;
                                        spanTextBuilder.Append(textCharacter.Value);
                                    }
                                }

                                @* Render out the last <span> *@
                                if (spanTextBuilder.Length > 0)
                                {
                                    <span class="@DecorationKindHelper.ToDecorationKindCssStyleString(currentDecorationByte)">
                                        @((MarkupString)spanTextBuilder.ToString())
                                    </span>
                                }
                            }
                        </div>
                    </Virtualize>

                    <TextEditorCursorDisplay @ref="_textEditorCursorDisplay"
                                             TextCursor="_cursor"
                                             TextEditorBase="localTextEditorState"
                                             RowHeightInPixels="_textEditorFontSize?.RowHeight ?? 0"
                                             CharacterWidthInPixels="_textEditorFontSize?.CharacterWidth ?? 0" />
                }
            </div>
        </div>
    </ShouldRenderBoundary>
</div>