@typeparam T

@*<div class="bstudio_debug-info">
    <div>@@_scrollTop = @_scrollTop;</div>
    <div>@@_scrollLeft = @_scrollLeft;</div>
    <div>@@_scrollViewportWidth = @_scrollViewportWidth;</div>
    <div>@@_scrollViewportHeight = @_scrollViewportHeight;</div>
    <div>@@_width = @_width;</div>
    <div>@@_height = @_height;</div>
</div>*@

<div class="bstudio_virtualize-coordinate-system"
     style="@(DimensionsOfCoordinateSystemViewport.DimensionsCssString)"
     id="@ComponentId">
    
    @{
        // Create a local reference to avoid a new instance being set while rendering.
        var localVirtualizeCoordinateSystemResult = _virtualizeCoordinateSystemResult;

        <div id="@_leftElementId"
             style="background-color: red; @GetLeftBoundaryCssString(localVirtualizeCoordinateSystemResult)">

        </div>
    
        <div id="@_rightElementId"
             style="background-color: green; @GetRightBoundaryCssString(localVirtualizeCoordinateSystemResult)">

        </div>
    
        <div id="@_topElementId"
             style="background-color: blue; @GetTopBoundaryCssString(localVirtualizeCoordinateSystemResult)">

        </div>
    
        <div id="@_bottomElementId"
             style="background-color: orange; @GetBottomBoundaryCssString(localVirtualizeCoordinateSystemResult)">

        </div>
    }
    
    @{
        var localData = _data;

        foreach (var item in localData)
        {
            @ChildContent(item)
        }
    }
</div>