@typeparam T

<div class="bstudio_virtualize-coordinate-system"
     style="@(DimensionsOfCoordinateSystemViewport.DimensionsCssString)"
     id="bstudio_virtualize-coordinate-system_@_guid">
    
    <div id="@_leftElementId"
         style="background-color: red; @(_leftBoundaryDimensions.DimensionsCssString)">

    </div>
    
    <div id="@_rightElementId"
         style="background-color: green; @(_rightBoundaryDimensions.DimensionsCssString)">

    </div>
    
    <div id="@_topElementId"
         style="background-color: blue; @(_topBoundaryDimensions.DimensionsCssString)">

    </div>
    
    <div id="@_bottomElementId"
         style="background-color: orange; @(_bottomBoundaryDimensions.DimensionsCssString)">

    </div>
    
    @foreach (var item in _data)
    {
        @ChildContent(item)
    }

</div>