@using BlazorStudio.ClassLib.Context
@using BlazorStudio.ClassLib.Store.TerminalCase

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<ContextBoundary ContextRecord="ContextFacts.NuGetPackageManagerContext"
                 ClassCssString="bstudio_nu-get-package-manager-display"
                 StyleCssString="height: 100%; width: 100%;">

    <div class="bstudio_section-title">
        NuGet
    </div>

    <div class="bstudio_section-body"
         style="width: 100%;">
        
        @{
            var nuGetPackageManagerState = NuGetPackageManagerStateWrap.Value;
            var solutionExplorerState = SolutionExplorerStateWrap.Value;

            if (solutionExplorerState.Solution is null)
            {
                <div>
                    Solution has not yet been chosen
                </div>
            }
            else
            {
                <select @onchange="e => SelectedProjectToModifyChanged(e, solutionExplorerState)">
                    @{
                        <option value="@Guid.Empty"
                                selected="@(!ValidateSolutionContainsSelectedProject(solutionExplorerState, nuGetPackageManagerState))">
                            Select a project to modify
                        </option>
                        
                        foreach (var project in solutionExplorerState.Solution.Projects)
                        {
                            <option value="@project.Id.Id.ToString()"
                                    selected="@CheckIfProjectIsSelected(project, nuGetPackageManagerState)">
                                @project.Name
                            </option>
                        }
                    }
                </select>

                if (nuGetPackageManagerState.SelectedProjectToModify is null)
                {
                    <div>
                        <em class="bstudio_em">
                            {theSelectedProjectWasNotFound}
                        </em>
                    </div>
                }
                else
                {
                    <div>
                        <em class="bstudio_em">
                            @nuGetPackageManagerState.SelectedProjectToModify.Name
                        </em>
                    </div>
                }
                
                <div>
                    @NugetPackageManagerProvider.ProviderWebsiteUrlNoFormatting
                </div>
                
                <div>
                    <span>Query:</span>
                    <input class="bstudio_input bstudio_input-text"
                           style="height: 2em;"
                           placeholder="Nuget query"
                           @bind="NugetQuery"
                           @bind:event="oninput"/>
                </div>
                
                <div>
                    <span>Include prerelease?:</span>
                    <input class="bstudio_input"
                           type="checkbox"
                           @bind="IncludePrerelease" />
                    
                    <div>
                        <em class="bstudio_em">
                            @IncludePrerelease
                        </em>
                    </div>
                </div>
                
                <div>
                    <em class="bstudio_em">
                        @NugetQuery
                        
                        @NugetPackageManagerProvider.BuildQuery(NugetQuery, true)
                    </em>
                </div>
            }
        }
    </div>
</ContextBoundary>
