@using BlazorStudio.ClassLib.Contexts
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<ContextBoundary @ref="_contextBoundary"
                 CssClassString="bstudio_nuget-package-manager bstudio_focus-display-large"
                 ContextKey="ContextFacts.NugetPackageManagerDisplayContext.ContextKey">

    <h5 class="bstudio_large-title" style="padding: 5px;">NugetPackageManager</h5>

    <div class="bstudio_nuget-package-manager-body" style="padding: 0 5px; height: calc(100% - 2rem - 10px);">
        @{
            var localSolutionExplorerState = SolutionExplorerStateWrap.Value;

            if (localSolutionExplorerState.SolutionAbsoluteFilePath is null)
            {
                <div>
                    SolutionAbsoluteFilePath is null, use the InputFile dialog to select a SolutionAbsoluteFilePath
                    directory.
                </div>
                <div>
                    <BlazorStudio.RazorLib.InputFile.InputFileDialogEntryPoint/>
                </div>
            }
            else
            {
                <div>
                    Active Solution:<br/>
                    <em>@localSolutionExplorerState.SolutionAbsoluteFilePath.FilenameWithExtension</em>
                </div>

                <hr/>

                <input type="checkbox"
                       class="bstudio_input bstudio_input-checkbox"
                       @onkeydown:stopPropagation="true"
                       @bind="_includePrerelease"/>

                <text>&nbsp;Include Prerelease?</text>

                <br/>

                <div>
                    <input class="bstudio_input bstudio_input-text"
                           @bind="_nugetQuery"
                           @bind:event="oninput"
                           @onkeydown="HandleOnKeyDown"
                           @onkeydown:stopPropagation="true"/>
                </div>

                <div>
                    Query:<br/>
                    <em style="margin-left: 15px; border-left: 1px solid var(--bstudio_primary-border-color)">
                        @BuiltNugetQuery.Query
                    </em>
                </div>

                <hr/>

                <div>
                    Pick Project to modify:<br/>

                    @* 
                        I cannot get this <select/> element to have nearly any 
                        CSS applied therefore I am just leaving it background-color: white;
                        
                        Side Information:
                            - running Operating System is Ubuntu 
                    *@
                    <select class="bstudio_select-element" @onchange="SelectedProjectToModifyChanged">
                        @{
                            var projects = SolutionStateWrapper.Value.ProjectIdToProjectMap.Values
                                .Select(x => x.Project)
                                .ToList();

                            for (var i = 0; i < projects.Count; i++)
                            {
                                var index = i;
                                var project = projects[index];

                                <option value="@project.Id.Id.ToString()"
                                        selected="@(_selectedProjectToModify is not null && _selectedProjectToModify.Id == project.Id)">
                                    @project.Name
                                </option>
                            }
                        }
                    </select>
                    <br/>

                    Selected&nbsp;Project:&nbsp;<em>@(_selectedProjectToModify?.Name ?? "not yet selected")</em>
                </div>

                <hr/>

                if (_nugetPackages.Any())
                {
                    <TreeViewWrapDisplay @ref="_nugetPackagesTreeViewWrapDisplay"
                                         ShouldDispose="false"
                                         TreeViewWrapKey="_nugetPackageManagerTreeViewKey"
                                         RootItems="GetRootNugetPackageManagerTreeViewEntries()"
                                         GetChildrenFunc="LoadThemesChildren"
                                         OnEnterKeyDown="ThemeTreeViewOnEnterKeyDown"
                                         OnSpaceKeyDown="ThemeTreeViewOnSpaceKeyDown"
                                         OnDoubleClick="ThemeTreeViewOnDoubleClick"
                                         IsExpandable="nugetPackageManagerTreeViewEntry => nugetPackageManagerTreeViewEntry.IsExpandable">

                        <ItemRenderFragment Context="nugetPackageManagerTreeViewEntry">
                            @nugetPackageManagerTreeViewEntry.MarkupStringTitleDisplay
                        </ItemRenderFragment>

                        <OnContextMenuRenderFragment Context="contextMenuEventDto">

                            <NugetPackageManagerMenuWrapperDisplay ContextMenuEventDto="contextMenuEventDto"
                                                                   SelectProjectToModify="_selectedProjectToModify"/>

                        </OnContextMenuRenderFragment>
                    </TreeViewWrapDisplay>
                }
                else
                {
                    var localActiveQuery = _activeQueryForNugetPackages;
                    var localJsonExceptionFromQueryingNuget = _jsonExceptionFromQueryingNuget;

                    if (localActiveQuery is not null)
                    {
                        <div>
                            Querying&nbsp;<IconLoader/><br/>

                            <em style="margin-left: 15px; border-left: 1px solid var(--bstudio_primary-border-color)">
                                @localActiveQuery
                            </em>
                        </div>
                    }
                    else
                    {
                        if (localJsonExceptionFromQueryingNuget is not null)
                        {
                            <div>ERROR:</div>
                            <pre>
@_jsonExceptionFromQueryingNuget.Message
</pre>
                        }
                        else
                        {
                            <div>No results</div>
                        }
                    }

                    <div style="margin-top: 100px;" class="bstudio_nuget-package-manager-display-spacer"></div>
                }
            }
        }
    </div>
</ContextBoundary>