<div class="bstudio_resizable-display">
    @* Cardinal Resize Handles *@
    <div class="bstudio_resize-handle bstudio_resize-handle-north bstudio_resize-handle-cardinal"
         style="@GetNorthResizeHandleStyleCss()"
         @onmousedown="() => SubscribeToDragEvent(DragEventHandlerNorthResizeHandleAsync)">
    </div>
    
    <div class="bstudio_resize-handle bstudio_resize-handle-east bstudio_resize-handle-cardinal"
         style="@GetEastResizeHandleStyleCss()"
         @onmousedown="() => SubscribeToDragEvent(DragEventHandlerEastResizeHandleAsync)">
    </div>
    
    <div class="bstudio_resize-handle bstudio_resize-handle-south bstudio_resize-handle-cardinal"
         style="@GetSouthResizeHandleStyleCss()"
         @onmousedown="() => SubscribeToDragEvent(DragEventHandlerSouthResizeHandleAsync)">
    </div>
    
    <div class="bstudio_resize-handle bstudio_resize-handle-west bstudio_resize-handle-cardinal"
         style="@GetWestResizeHandleStyleCss()"
         @onmousedown="() => SubscribeToDragEvent(DragEventHandlerWestResizeHandleAsync)">
    </div>
    
    @* Diagonal Resize Handles *@
    <div class="bstudio_resize-handle bstudio_resize-handle-north-east bstudio_resize-handle-diagonal"
         style="@GetNorthEastResizeHandleStyleCss()"
         @onmousedown="() => SubscribeToDragEvent(DragEventHandlerNorthEastResizeHandleAsync)">
    </div>
    
    <div class="bstudio_resize-handle bstudio_resize-handle-south-east bstudio_resize-handle-diagonal"
         style="@GetSouthEastResizeHandleStyleCss()"
         @onmousedown="() => SubscribeToDragEvent(DragEventHandlerSouthEastResizeHandleAsync)">
    </div>
    
    <div class="bstudio_resize-handle bstudio_resize-handle-south-west bstudio_resize-handle-diagonal"
         style="@GetSouthWestResizeHandleStyleCss()"
         @onmousedown="() => SubscribeToDragEvent(DragEventHandlerSouthWestResizeHandleAsync)">
    </div>
    
    <div class="bstudio_resize-handle bstudio_resize-handle-north-west bstudio_resize-handle-diagonal"
         style="@GetNorthWestResizeHandleStyleCss()"
         @onmousedown="() => SubscribeToDragEvent(DragEventHandlerNorthWestResizeHandleAsync)">
    </div>
</div>