@typeparam T

<div @ref="_scrollableParentFinder">
    
</div>

@if (UseHorizontalVirtualization)
{
    <VirtualizationBoundaryDisplay VirtualizationBoundaryDisplayId="@LeftVirtualizationBoundaryDisplayId"
                                   VirtualizationBoundary="_result.LeftVirtualizationBoundary"/>
    
    <VirtualizationBoundaryDisplay VirtualizationBoundaryDisplayId="@RightVirtualizationBoundaryDisplayId"
                                   VirtualizationBoundary="_result.RightVirtualizationBoundary"/>
}

@if (UseVerticalVirtualization)
{
    <VirtualizationBoundaryDisplay VirtualizationBoundaryDisplayId="@TopVirtualizationBoundaryDisplayId"
                                   VirtualizationBoundary="_result.TopVirtualizationBoundary"/>
    
    <VirtualizationBoundaryDisplay VirtualizationBoundaryDisplayId="@BottomVirtualizationBoundaryDisplayId"
                                   VirtualizationBoundary="_result.BottomVirtualizationBoundary"/>
}

@foreach (var entry in _result.Entries)
{
    @ChildContent(entry)
}