<div style="display: flex;"
     title="@TreeViewReflection.TreeViewNodeKey.Guid">
    @{
        var textEditorDebugObjectWrap = TreeViewReflection.Item!;
    }
    
    <div class="bte_keyword">
        @(textEditorDebugObjectWrap.IsPubliclyReadable ? "public" : "private")
        &nbsp;
    </div>
    
    <div class="bte_type">
        @(textEditorDebugObjectWrap.DebugObjectItemType.Name)
        &nbsp;
    </div>
    
    <div>
        @(textEditorDebugObjectWrap.DisplayName)
        &nbsp;
    </div>

    @if (textEditorDebugObjectWrap.DebugObjectItem is null)
    {
        <div class="bte_keyword">
            (null)
        </div>
    }
    else
    {
        var toStringResult = textEditorDebugObjectWrap.DebugObjectItem.ToString();
        
        <div class="@GetCssStylingForValue(textEditorDebugObjectWrap.DebugObjectItemType)"
              style="width: 200px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; display: inline-block;"
              title="@toStringResult">
            @toStringResult
        </div>
    }
</div>