<tr style="border: 1px solid;">
    <td style="border: 1px solid; padding: 5px;">
        @Kind 
    </td>
    <td style="border: 1px solid; padding: 5px;" class="@Color">
    </td>
    <td style="border: 1px solid; padding: 5px;">
        @($"{VirtualizeCoordinateSystemBoundaryDimensions.Width:N2}") 
    </td>
    <td style="border: 1px solid; padding: 5px;">
        @($"{VirtualizeCoordinateSystemBoundaryDimensions.Height:N2}")
    </td>
    <td style="border: 1px solid; padding: 5px;">
        @($"{VirtualizeCoordinateSystemBoundaryDimensions.Left:N2}")
    </td>
    <td style="border: 1px solid; padding: 5px;">
        @($"{VirtualizeCoordinateSystemBoundaryDimensions.Top:N2}")
    </td>
</tr>
