<tr style="border: 1px solid;">
    <td style="border: 1px solid; padding: 5px;">
        @Kind 
    </td>
    <td style="border: 1px solid; padding: 5px;" class="@Color">
    </td>
    <td style="border: 1px solid; padding: 5px;">
        @VirtualizeCoordinateSystemBoundaryDimensions.Width 
    </td>
    <td style="border: 1px solid; padding: 5px;">
        @VirtualizeCoordinateSystemBoundaryDimensions.Height
    </td>
    <td style="border: 1px solid; padding: 5px;">
        @VirtualizeCoordinateSystemBoundaryDimensions.Left
    </td>
    <td style="border: 1px solid; padding: 5px;">
        @VirtualizeCoordinateSystemBoundaryDimensions.Top
    </td>
</tr>
