@page "/coordinateSystem"

<PageTitle>coordinateSystem</PageTitle>

<div style="background-color: lightgray;">
    Time to first render:

    <br/>

    @($"{TimeToFirstRender.TotalMilliseconds:N0}")ms
</div>

<div>
    RepeatTheDataCount:<br/>
    <input type="number" @bind="RepeatTheDataCount" @bind:event="oninput"/>
</div>

@if (_virtualizeCoordinateSystemScrollPosition is not null)
{
    <div style="background-color: lightgray;">
        (ScrollLeft, ScrollTop):<br/>
        (@($"{_virtualizeCoordinateSystemScrollPosition.ScrollLeft:N2}"), @($"{_virtualizeCoordinateSystemScrollPosition.ScrollTop:N2}"))
    </div>

    <div>Boundary Dimensions</div>

    <table style="border: 1px solid;">
        <thead>
        <tr style="border: 1px solid;">
            <th style="border: 1px solid; padding: 5px;">
                Kind
            </th>
            <th style="border: 1px solid; padding: 5px;">
                Color
            </th>
            <th style="border: 1px solid; padding: 5px;">
                Width
            </th>
            <th style="border: 1px solid; padding: 5px;">
                Height
            </th>
            <th style="border: 1px solid; padding: 5px;">
                Left
            </th>
            <th style="border: 1px solid; padding: 5px;">
                Top
            </th>
        </tr>
        </thead>
        <tbody>
        <DebugVirtualizeCoordinateSystemBoundaryDimensions Kind="Left"
                                                           Color="bstudio_Left"
                                                           VirtualizeCoordinateSystemBoundaryDimensions="_leftBoundaryDimension"/>
        <DebugVirtualizeCoordinateSystemBoundaryDimensions Kind="Bottom"
                                                           Color="bstudio_Bottom"
                                                           VirtualizeCoordinateSystemBoundaryDimensions="_bottomBoundaryDimensions"/>
        <DebugVirtualizeCoordinateSystemBoundaryDimensions Kind="Top"
                                                           Color="bstudio_Top"
                                                           VirtualizeCoordinateSystemBoundaryDimensions="_topBoundaryDimensions"/>
        <DebugVirtualizeCoordinateSystemBoundaryDimensions Kind="Right"
                                                           Color="bstudio_Right"
                                                           VirtualizeCoordinateSystemBoundaryDimensions="_rightBoundaryDimensions"/>
        </tbody>
    </table>

    <div style="background-color: lightgray;">
        _itemsToRender.Count:&nbsp;@(_itemsToRender.Length)
    </div>
}
else
{
    <div>_virtualizeCoordinateSystemScrollPosition is null</div>
}

<hr/>

<div style="width: 800px; height: 600px; overflow:auto; position: relative;" tabindex="-1">
    <VirtualizeCoordinateSystem ItemsProviderFunc="ItemsProviderFunc"
                                Context="virtualizeMusicBand">


        @* <div style="width: @virtualizeMusicBand.Width; height: @virtualizeMusicBand.Height; top: @virtualizeMusicBand.Top; left: @virtualizeMusicBand.Left;"> *@
        @*     <MusicBandDisplay MusicBand="virtualizeMusicBand.Item" /> *@
        @* </div> *@
    </VirtualizeCoordinateSystem>
</div>