<div class="bstudio_transformative-display">
    @* Cardinal Resize Handles *@
    <div class="bstudio_transformative-resize-handle-display bstudio_transformative-resize-handle-north-display"
         style="@GetNorthResizeHandleCssStyling()"
         @onmousedown="SubscribeToDragEventWithNorthResizeHandle">

    </div>

    <div class="bstudio_transformative-resize-handle-display bstudio_transformative-resize-handle-east-display"
         style="@GetEastResizeHandleCssStyling()"
         @onmousedown="SubscribeToDragEventWithEastResizeHandle">

    </div>

    <div class="bstudio_transformative-resize-handle-display bstudio_transformative-resize-handle-south-display"
         style="@GetSouthResizeHandleCssStyling()"
         @onmousedown="SubscribeToDragEventWithSouthResizeHandle">

    </div>

    <div class="bstudio_transformative-resize-handle-display bstudio_transformative-resize-handle-west-display"
         style="@GetWestResizeHandleCssStyling()"
         @onmousedown="SubscribeToDragEventWithWestResizeHandle">

    </div>

    @* Diagonal Resize Handles *@
    <div class="bstudio_transformative-resize-handle-display bstudio_transformative-resize-handle-north-east-display"
         style="@GetNorthEastResizeHandleCssStyling()"
         @onmousedown="SubscribeToDragEventWithNorthEastResizeHandle">

    </div>

    <div class="bstudio_transformative-resize-handle-display bstudio_transformative-resize-handle-south-east-display"
         style="@GetSouthEastResizeHandleCssStyling()"
         @onmousedown="SubscribeToDragEventWithSouthEastResizeHandle">

    </div>

    <div class="bstudio_transformative-resize-handle-display bstudio_transformative-resize-handle-south-west-display"
         style="@GetSouthWestResizeHandleCssStyling()"
         @onmousedown="SubscribeToDragEventWithSouthWestResizeHandle">

    </div>

    <div class="bstudio_transformative-resize-handle-display bstudio_transformative-resize-handle-north-west-display"
         style="@GetNorthWestResizeHandleCssStyling()"
         @onmousedown="SubscribeToDragEventWithNorthWestResizeHandle">

    </div>
</div>