@using Fluxor.Blazor.Web.Components
@using Microsoft.AspNetCore.Components.Web.Virtualization

@inherits FluxorComponent

@if (PlainTextEditorSelector.Value is null)
{
    <div>PlainTextEditorSelector.Value is null</div>
}
else
{
    <div class="pte_plain-text-editor-wrapping">
        <div>
            Font Size: @(PlainTextEditorSelector.Value.RichTextEditorOptions.FontSizeInPixels)px
        </div>

        <div id="@PlainTextEditorDisplayId"
             class="pte_plain-text-editor-display @IsFocusedCssClass"
             style="@GetStyleCss()"
             @ref="_plainTextEditor"
             @onclick="FocusPlainTextEditorOnClick"
             @onkeydown:preventDefault="true"
             @onkeydown="OnKeyDown"
             @onfocusin="OnFocusIn"
             @onfocusout="OnFocusOut"
             tabindex="-1">
            
            <span id="@ActiveRowPositionMarkerId"
                  class="pte_visually-hidden pte_unselectable pte_active-row-position-marker"
                  style="position: absolute; @InputFocusTrapTopStyleCss">
            </span>

            <CascadingValue Value="PlainTextEditorKey">
                <CascadingValue Value="_isFocused">
                    <CascadingValue Name="CurrentRowIndex" Value="PlainTextEditorSelector.Value.CurrentRowIndex">
                        <CascadingValue Name="ActiveRowId" Value="ActiveRowId">
                            @{
                                var mostDigitsInARowNumber = PlainTextEditorSelector.Value.List.Count.ToString().Length;

                                // Ensure reference to PlainTextEditorSelector does
                                // not change while looping over rows
                                // by making a local reference to it.
                                var currentPlainTextEditorSelector = PlainTextEditorSelector.Value;

                                <Virtualize @ref="_rowVirtualizeComponent" ItemsProvider="RowItemsProvider" Context="rowTuple" ItemSize="50">
                                    <CascadingValue Name="RowIndex" Value="rowTuple.Index">
                                        <PlainTextEditorRowDisplay @key="rowTuple.PlainTextEditorRow.Key"
                                                                   PlainTextEditorRow="rowTuple.PlainTextEditorRow"
                                                                   MostDigitsInARowNumber="mostDigitsInARowNumber"/>
                                    </CascadingValue>
                                </Virtualize>
                            }
                        </CascadingValue>
                    </CascadingValue>
                </CascadingValue>
            </CascadingValue>
        </div>
    </div>
}