@typeparam T

<div class="bstudio_virtualize-coordinate-system"
     style="position: absolute; @(_dimensions.DimensionsCssString)">
    
    <div id="@_leftElementId">

    </div>
    
    <div id="@_rightElementId">

    </div>
    
    <div id="@_topElementId">

    </div>
    
    <div id="@_bottomElementId">

    </div>
    
    @foreach (var item in _data)
    {
        @ChildContent(item)
    }

</div>