@using BlazorStudio.ClassLib.FileSystem.Interfaces
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="bstudio_workspace-explorer bstudio_focus-display-large"
     style="@Dimensions.DimensionsCssString"
     tabindex="-1"
     @ref="_folderExplorerElementReference"
     @onfocusin="() =>_contextBoundary.DispatchSetActiveContextStatesAction(new())"
     @onfocusin:stopPropagation="true">

    <ContextBoundary @ref="_contextBoundary" ContextRecord="ContextStateSelector.Value">
        <h5 class="bstudio_large-title" style="padding: 5px;">
            Folder Explorer&nbsp;
        </h5>

        <div style="padding: 0 5px; height: calc(100% - 2rem - 10px);">
            @{
                var workspaceState = WorkspaceStateWrap.Value;

                if (workspaceState.FolderAbsoluteFilePath is null)
                {
                    <div>
                        WorkspaceAbsoluteFilePath is null, use the InputFile dialog to select a Workspace
                        directory.
                    </div>
                    <div>
                        <BlazorStudio.RazorLib.InputFile.InputFileDialogEntryPoint />
                    </div>
                }
                else
                {
                    if (_isInitialized)
                    {
                        if (_workspaceStateWrapStateChangedRichErrorModel is not null)
                        {
                            <RichErrorDisplay RichErrorModel="_workspaceStateWrapStateChangedRichErrorModel" />
                        }
                        else
                        {
                            <div class="bstudio_workspace-explorer">                        
                            
                                <DropdownDisplay Dimensions="_fileDropdownDimensions"
                                                 DropdownKey="_fileDropdownKey">
                             
                                    @{
                                        var contextMenuEventDto = new TreeViewContextMenuEventDto<IAbsoluteFilePath>(
                                            null,
                                            null,
                                            workspaceState.FolderAbsoluteFilePath,
                                            null,
                                            null,
                                            async () => WorkspaceStateWrap_StateChanged(null, EventArgs.Empty),
                                            null,
                                            default);
                    
                                        <em>@contextMenuEventDto.Item.FilenameWithExtension</em>

                                        <FolderExplorerMenuWrapperDisplay ContextMenuEventDto="contextMenuEventDto" />
                                    }

                                </DropdownDisplay>

                                <TreeViewWrapDisplay @ref="_treeViewWrapDisplay"
                                                     ShouldDispose="false"
                                                     TreeViewWrapKey="_inputFileTreeViewKey"
                                                     T="IAbsoluteFilePath"
                                                     RootItems="_rootAbsoluteFilePaths"
                                                     GetChildrenFunc="LoadAbsoluteFilePathChildrenAsync"
                                                     Context="absoluteFilePath"
                                                     OnEnterKeyDown="WorkspaceExplorerTreeViewOnEnterKeyDown"
                                                     OnSpaceKeyDown="WorkspaceExplorerTreeViewOnSpaceKeyDown"
                                                     OnDoubleClick="WorkspaceExplorerTreeViewOnDoubleClick"
                                                     IsExpandable="GetIsExpandable"
                                                     StyleString="height: 100%;"
                                                     BodyCssClassAttribute="bstudio_workspace-explorer-tree-view-body">

                                    <ItemRenderFragment>
                                        <span title="@absoluteFilePath.GetAbsoluteFilePathString()">
                                            @absoluteFilePath.FilenameWithExtension
                                        </span>
                                    </ItemRenderFragment>

                                    <OnContextMenuRenderFragment Context="contextMenuEventDto">

                                        <em>@contextMenuEventDto.Item.FilenameWithExtension</em>

                                        <FolderExplorerMenuWrapperDisplay ContextMenuEventDto="contextMenuEventDto" />

                                    </OnContextMenuRenderFragment>

                                    <HeaderRenderFragment Context="activeItems">
                                        <div class="bstudio_workspace-explorer-tree-view-header">
                                            <button class="btn btn-primary"
                                                    @onclick="() => DispatchAddActiveDropdownKeyActionOnClick(_fileDropdownKey)">
                                                <IconAdd/> New File
                                            </button>
                                            &nbsp;
                                            to
                                            &nbsp;
                                            <span title="@workspaceState.FolderAbsoluteFilePath.GetAbsoluteFilePathString()">
                                                @workspaceState.FolderAbsoluteFilePath.FilenameWithExtension
                                            </span>
                                        </div>
                                    </HeaderRenderFragment>
                                </TreeViewWrapDisplay>
                            </div>
                        }
                    }
                }
            }
        </div>
    </ContextBoundary>
</div>