@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using BlazorStudio.ClassLib.FileSystem.Interfaces
@using BlazorStudio.ClassLib.FileConstants
@using BlazorStudio.ClassLib.FileSystem.Classes

<div class="bstudio_solution-explorer bstudio_focus-display-large"
     style="@Dimensions.DimensionsCssString"
     tabindex="-1"
     @ref="_solutionExplorerElementReference"
     @onfocusin="() => _contextBoundary.DispatchSetActiveContextStatesAction(new())"
     @onfocusin:stopPropagation="true">

    <ContextBoundary @ref="_contextBoundary" ContextRecord="ContextStateSelector.Value">
    
        <h5 class="bstudio_large-title" style="padding: 5px;">
            Solution Explorer&nbsp;
        </h5>
        
        <div style="padding: 0 5px; height: calc(100% - 2rem - 10px);">
            @{
                var solutionExplorerState = SolutionExplorerStateWrap.Value;

                if (_loadingSln)
                {
                    <div>Loading @SolutionExplorerStateWrap.Value.SolutionAbsoluteFilePath?.FilenameWithExtension</div>
                }
                else if (solutionExplorerState.SolutionAbsoluteFilePath is null)
                {
                    <div>
                        SolutionAbsoluteFilePath is null, use the InputFile dialog to select a SolutionAbsoluteFilePath
                        directory.
                    </div>
                    <div>
                        <BlazorStudio.RazorLib.InputFile.InputFileDialogEntryPoint />
                    </div>
                }
                else
                {
                    if (_isInitialized)
                    {
                        if (_solutionExplorerStateWrapStateChangedRichErrorModel is not null)
                        {
                            <RichErrorDisplay RichErrorModel="_solutionExplorerStateWrapStateChangedRichErrorModel" />
                        }
                        else
                        {
                            <div class="bstudio_solution-explorer"
                                 style="width: 100%;">                        
                                            
                                <DropdownDisplay Dimensions="_fileDropdownDimensions"
                                                 DropdownKey="_fileDropdownKey">
                                             
                                    @{
                                        var contextMenuEventDto = new TreeViewContextMenuEventDto<AbsoluteFilePathDotNet>(
                                            null,
                                            null,
                                            solutionExplorerState.SolutionAbsoluteFilePath,
                                            null,
                                            null,
                                            async () => SolutionExplorerStateWrap_StateChanged(null, EventArgs.Empty),
                                            null,
                                            default);
                        
                                        <em>@contextMenuEventDto.Item.FilenameWithExtension</em>

                                        <SolutionExplorerMenuWrapperDisplay ContextMenuEventDto="contextMenuEventDto" />
                                    }

                                </DropdownDisplay>

                                <TreeViewWrapDisplay @ref="_treeViewWrapDisplay"
                                                     ShouldDispose="false"
                                                     TreeViewWrapKey="_solutionExplorerTreeViewKey"
                                                     T="AbsoluteFilePathDotNet"
                                                     RootItems="_rootAbsoluteFilePaths"
                                                     GetChildrenFunc="LoadAbsoluteFilePathChildrenAsync"
                                                     Context="absoluteFilePath"
                                                     OnEnterKeyDown="WorkspaceExplorerTreeViewOnEnterKeyDown"
                                                     OnSpaceKeyDown="WorkspaceExplorerTreeViewOnSpaceKeyDown"
                                                     OnDoubleClick="WorkspaceExplorerTreeViewOnDoubleClick"
                                                     IsExpandable="GetIsExpandable"
                                                     StyleString="height: 100%;"
                                                     BodyCssClassAttribute="bstudio_workspace-explorer-tree-view-body">

                                    <ItemRenderFragment>
                                        <SolutionExplorerIconDisplay AbsoluteFilePath="absoluteFilePath" />

                                        <span title="@absoluteFilePath.GetAbsoluteFilePathString()">
                                            @absoluteFilePath.FilenameWithExtension
                                        </span>
                                    </ItemRenderFragment>

                                    <OnContextMenuRenderFragment Context="contextMenuEventDto">

                                        <em>@contextMenuEventDto.Item.FilenameWithExtension</em>
                                                        
                                        <SolutionExplorerMenuWrapperDisplay ContextMenuEventDto="contextMenuEventDto" />
                                                        
                                    </OnContextMenuRenderFragment>

                                    <HeaderRenderFragment Context="activeItems">
                                        <div class="bstudio_solution-explorer-tree-view-header">
                                            <div style="display: inline-flex; align-items: center;">
                                                <button class="btn btn-primary"
                                                        @onclick="OpenNewCSharpProjectDialog">
                                                    <IconAdd/> New C# Project
                                                </button>
                                                &nbsp;
                                                to
                                                &nbsp;
                                                <span title="icon"
                                                      style="display: inline-flex; align-items: center; margin-right: 4px;">
                                                    @if (solutionExplorerState.SolutionAbsoluteFilePath.ExtensionNoPeriod == ExtensionNoPeriodFacts.DOT_NET_SOLUTION)
                                                    {
                                                        <IconSolution/>
                                                    }
                                                    else
                                                    {
                                                        <IconDiff/>
                                                    }
                                                </span>
                                                <span title="@solutionExplorerState.SolutionAbsoluteFilePath.GetAbsoluteFilePathString()"
                                                      style="display: inline-flex; align-items: center;">

                                                    @solutionExplorerState.SolutionAbsoluteFilePath.FilenameWithExtension
                                                </span>
                                            </div>
                                        </div>
                                    </HeaderRenderFragment>
                                </TreeViewWrapDisplay>
                            </div>
                        }
                    }
                }
            }
        </div>
    </ContextBoundary>
</div>
